body {
    background-color: #b7131c;
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    color: white;
    font-size: 70px;
    font-weight: bold;
}
.container {
    background-color: white;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
}

.container div {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    height: 100%;
}
.range {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}
.range input {
    width: 500px;
    cursor: ew-resize;
}

.range label {
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

.pen-color {
    position: absolute;
    bottom: 40px;
    left: 50px;
    width: 100px;
    height: 30px;
    overflow: hidden;
}


.pen {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    position: absolute;
    bottom: 70px;
    left: 30px;
}

.pen-color input {
    width: 200%;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300%;
}