body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    color: purple;
    font-size: 70px;
    font-weight: bold;
}

.active {
    background-color: purple;
}

.container {
    background-color: white;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
}

.container div {
    width: 100%;
    background-color: white;
    height: 100%;
}

.border {
    border: 1px solid black;
}

.range {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}
.range input {
    width: 100%;
    cursor: ew-resize;
}


.range label {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

.settings {
    border: 1px solid purple;
    width: 300px;
    height: 600px;
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.settings .pen-color {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}


.clear {
    position: absolute;
    bottom: 40px;
    width: 50%;
}

button {
    color: white;
    background-color: transparent;
    font-weight: bold;
    border: 1px solid purple;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.eraser {
    width: 50%;
}

.pen-mode {
    width: 50%;
}

.rainbow-mode {
    width: 50%;
    
}

.grid-mode {
    width: 50%;
}