body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 6fr 0.5fr;
}

header {
    background-color: #333333;
    color: white;
    font-weight: bold;
    grid-column: 1 / -1;
    display: flex;
    padding-left: 30px;
    gap: 15px;
}
header h1, 
header svg {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    align-self: center;
}

aside {
    background-color: #dddddd;
}

footer {
    background-color: #333333;
    grid-column: 1 / -1;
}

aside ul {
    list-style: none;
    margin: 30px 20px;
    padding: 0;
}

aside ul li {
    display: flex;
    height: 40px;
    padding-left: 30px;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    margin-top: 20px;
    border: 1px solid #cccccc;
}

aside ul li:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.selected {
    background-color: #cccccc;
}

aside ul h2 {
    margin-top: 50px;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 25px;
}

main .container {
    width: 80%;
    margin: auto;
}

main .container .head {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    font-weight: bold;
}

main .container .add-task {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .container h3 {
    font-size: 20px;
    font-weight: bold;
}

main .container svg {
    font-size: 20px;
    cursor: pointer;
}

.tasks .task {
    padding: 0px 10px;
    display: flex;
    cursor: pointer;
    flex: 1;
    justify-content: space-between;
    border-bottom: 1px solid #F7F7F7;
}

.tasks .task:hover {
    background-color: #F7F7F7;
}

.tasks .task .task-data {
    font-size: 20px;
    flex: 1;
}

.tasks .task .task-data,
.tasks .task .task-options {
    display: flex;
    gap: 10px;
    align-items: center;
}

.tasks .task .task-options svg {
    font-size: 15px;
}

.tasks .task .task-options svg:hover {
    transform: scale(130%);
}

form {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #cccccc;
    padding: 20px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.219);
    width: 100%;
    position: absolute;
    height: 100%;
    
}

form label {
    margin-top: 30px;
    margin-bottom: 10px;
}

form label span {
    color: rgb(173, 11, 11);
}

form input,
form textarea {
    background-color: transparent;
    outline: 1px solid black;
    margin-bottom: 30px;
}

form select {
    margin-bottom: 20px;
    background-color: transparent;
}

form .form-options {
    display: flex;
    gap: 10px;
    justify-content: end;
}

form button {
    background-color: #dddddd;
    border: none;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
}