body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 6fr 0.5fr;
}

header {
    background-color: #333333;
    color: white;
    font-weight: bold;
    grid-column: 1 / -1;
    display: flex;
    padding-left: 30px;
    gap: 15px;
}
header h1, 
header svg {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    align-self: center;
}

aside {
    background-color: #f7f7f7;
}

footer {
    background-color: #333333;
    grid-column: 1 / -1;
}
