.card {
    max-width: 400px;
    height: 400px;
    position: relative;
    cursor: pointer;
}

.card img {
    height: 50%;
    width: 100%;
    object-fit: contain;
}

.card h2 {
    font-size: 15px;
    font-weight: normal;
    margin-top: 20px;
}

.card .category {
    font-size: .85em;
    opacity: 0.6;
    margin: 5px 0px;
}

.card .price {
    font-weight: bold;
    font-size: .85em;
}


.star {
    font-size: .85rem;
}