.secondryFooter h2 {
    margin: 0px 50px;
    font-weight: bold;
}

footer {
    background-color: white;
}

.sale {
    padding: 50px 160px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

footer a {
    transition: color .2s linear;
}


svg {
    transition: fill .2s linear;
}

.secondryFooter h2 a {
    text-decoration: none;
    color: black;
    font-size: 28px;
}

.categoriesLinks {
    margin: 50px 50px;
    display: flex;
    padding: 50px 150px;
    justify-content: space-between;
}

.intro {
    margin-right: 30px;
}

.intro img {
    width: 80px;
    margin-bottom: 50px;
}

.intro h3 {
    font-size: 25px;
}

.categoriesLinks .links {
    display: flex;
    flex-direction: column;
}

.categoriesLinks .links h4 {
    font-size: 23px;
}

.categoriesLinks .links a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.51);
    margin-top: 10px;
}

.subscribe {
    display: flex;
    flex-direction: column;
}

.subscribe label {
    margin-bottom: 20px;
    font-size: 23px;
}

.subscribe input {
    padding: 10px;
    border: 1px solid #dddddd;
    margin-bottom: 30px;
}

.subscribe button {
    background-color: #0084d6;
    padding: 10px;
    width: 60%;
    border: none;
}

.subscribe a {
    text-decoration: none;
    color: white;
}



.mainFooter {
    border-top: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    padding: 30px 180px;
}

.mainFooter p {
    font-size: 15px;
}

.contactIcons svg {
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}

.contactIcons svg:hover {
    fill: #0084d6;
}

footer h2 a:hover,
footer .links a:hover {
    color: #0084d6;
}
