.shop {
    background-color: #f5f7f9;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 60px 150px;

}

.nav {
    grid-column: 1 / 2;
    margin-right: 50px;
}

.searchBar {
    height: 40px;
    display: flex;
}

button {
    background-color: #0084d6;
    border: none;
    color: white;
    cursor: pointer;
}

button.searchButton {
    height: 100%;
    margin-left: 8px;
    padding: 0px 15px;
}

input[type=search] {
    height: 100%;
    flex: 1;
    font-size: 20px;
    border: 1px solid #e2e2e2;
    outline: none;
    padding-left: 10px;
}

.priceFilterlabel {
    margin: 10px 0px 20px 0px;
}

.priceFilterlabel > button {
    padding: 4px 18px;
    margin-top: 0px;
    font-size: 15px;
}

input::placeholder {
    color: #666;
    font-size: 15px;
}

input[type=search]:focus {
    border: none;
}

.priceFilter {
    margin-top: 50px;
}




.priceFilterlabel {
    display: flex;
}

.priceFilterlabel p {
    margin-left: auto;
}

.categories {
    margin-bottom: 30px;
}

.categories .links {
    display: grid;
    grid-template-columns: 1fr 50px;
    gap: 15px;
    justify-content: space-between;
}

h2 {
    margin-bottom: 20px;
    font-weight: 400;
}

.categories a {
    text-decoration: none;
    color: black;
    transition: color 0.2s linear;
}

.categories a:hover {
    color: #0084d6;
}

.bestSellers img {
    object-fit: contain;
    width: 60px;
    margin-right: 10px;
}

.product {
    display: flex;
    height: fit-content;
    margin: 50px 0px;
    border-bottom: 1px solid #ddd;
}

.product h3 {
    font-size: 15px;
    font-weight: 400;
}

.product p {
    margin: 10px 0px;
}


main {
    background-color: white;
    padding: 80px;
}

main a {
    text-decoration: none;
    color: #777;
}


.Cardscontainer {
    margin: 50px 50px;
    grid-column: 2/ 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    row-gap: 60px;
}
