* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 150px 1fr;

}

svg {
    width: 25px;
}

img {
    width: 35px;
    border-radius: 50%;
}

button {
    background-color: #1992d4;
    color: white;
    border: none;
    font-size: 15px;
    width: 90px;
    border-radius: 20px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    
}

input[type = search] {
    height: 25px;
    background-color: #e2e8f0;
    border: none;
    border-radius: 30px;
}

header {
    padding: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px, rgba(0, 0, 0, 0.09) 0px 1px 1px, rgba(0, 0, 0, 0.09) 0px 1px 1px, rgba(0, 0, 0, 0.09) 0px 1px 8px, rgba(0, 0, 0, 0.09) 0px 1px 16px;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

header .main-header {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

header .main-header .account {
    display: grid;
    grid-template-columns: repeat(2, 50px) 150px;
    gap: 30px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

header .main-header .account h2 {
    font-size: 20px;
}

header .main-header .search {
    display: grid;
    grid-template-columns: 30px 5fr;
    align-content: center;
    justify-content: end;
}

header nav {
    display: grid;
    margin-top: 30px;
    gap: 30px;
    grid-template-columns: 50px 1fr 1fr;
}

nav img {
    width: 50px;
}

nav .main-nav {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    gap: 30px;
    justify-content: center;
}

section {
    height: 100vh;
}

aside.right {
    background-color: #1992d4;
    grid-row: 1 / -1;
    color: white;
    padding: 20px;
}

aside .logo {
    display: grid;
    grid-template-columns: 50px 1fr;
    height: 50px;
    align-items: center;
    gap: 10px;
}

aside .logo svg {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(25deg) brightness(101%) contrast(103%);
    width: 50px;
    text-align: center;
}

aside h1 {
    font-size: 30px;
}

aside nav {
    margin-top: 60px;
    width: 100%;
}

aside nav .link {
    display: grid;
    grid-template-columns: 55px 1fr;
    align-items: center;
    margin-bottom: 30px;
    
}

aside nav svg {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(25deg) brightness(101%) contrast(103%);
    width: 25px;
}

aside.right h3 {
    color: white;
}

aside nav .other-links {
    margin-top: 100px;
}

section {

    padding: 20px;
    grid-column: 2 / 3;
}

section > p {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}

section .articals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

section .articals article {
    padding: 25px;
    background-color: white;
    border-left: 8px solid #f0b42a;
    border-radius: 20px;

}

section article .icons button {
    background-color: transparent;
}

section .articals article p {
    margin-bottom: 40px;
}

section .articals article h3 {
    margin-bottom: 20px;
}

section .articals article .icons {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    justify-content: end;
}

aside.left {
    padding: 20px;
}

aside.left h3 {
    margin-bottom: 10px;
    font-weight: 500;
}

aside.left .info {
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
}

aside.left .info hr {
    color: #e2e8f0;
}

aside.left .info h4  {
    margin-bottom: 20px;
    margin-top: 20px;

}

aside.left .info p {
    margin-bottom: 20px;
}

aside.left .users {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

aside.left .users .user {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 50px 1fr;
}