:root {
    --main-color: #0891b2;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

main .hero {
    background-color: var(--main-color);
    display: grid;
    place-items: center;
    position: relative;
    height: 100%;
    z-index: -2;
}



main .hero::after {
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    border-left: 100vw solid transparent;
    border-bottom: 70vw solid white;
    z-index: -1;
}

@media (max-width: 500px) {
    main .hero .image {
        position: relative;
        top: 30px;
        display: grid;
        place-items: center;
    }
    
    main .hero img ,
    .project {
        width: calc(100% - 50px);
    }

    main .hero h1 {
        color: white;
        font-weight: 500;
        text-align: center;
        position: absolute;
        bottom: 0px;
        margin: 0;
        font-size: 85px;
        z-index: 200;
    }

    main .about-me {
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    main .about-me h2,
    .my-work h2 {
        font-size: 60px;
        font-weight: 500;
    }

    main .about-me p {
        font-size: 25px;
        margin: 20px;
    }

    main .about-me .links {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    main .about-me .links a {
        width: 50px;
    }
    
    .my-work {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project {
        box-shadow: 3px 3px 10px #d2d2d2;
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 50px;
    }

    
    .project > img {
        width: 100%;
        grid-row: 1 / 2;
    }

    .project-links {
        display: flex;
        justify-content: space-between;
    }

    
    .project .project-links img {
        width: 40px;
    }

    .project-info {
        grid-row: 2 / 3;
        display: grid;
        justify-content: space-around;
        align-items: center;
        grid-template-columns: 150px 100px;
    }

    .project-info h3 {
        font-size: 20px;
    }

    .project-info p {
        grid-column: 1 / -1;
        align-self: start;
        font-size: 19px;
    }

}
